function toggle_pass_hide(checkbox) {
  document.getElementById('new_password').type = checkbox.checked ? 'text' : 'password';
}
var strength = {
        0: "<%= I18n.t("change_password.password_strength_levels.worst") %>",
        1: "<%= I18n.t("change_password.password_strength_levels.bad") %>",
        2: "<%= I18n.t("change_password.password_strength_levels.weak") %>",
        3: "<%= I18n.t("change_password.password_strength_levels.good") %>",
        4: "<%= I18n.t("change_password.password_strength_levels.strong") %>"
}

var new_password = document.getElementById('new_password');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

new_password.addEventListener('input', function()
{
    var val = new_password.value;
    var info = new_password.dataset.info;
    if (info !== undefined) info = info.split(" ");

    // Update the text indicator
    if(val !== "") {
        var result = zxcvbn(val, info);
        // Update the password strength meter
        meter.value = result.score;
        text.innerHTML = "<p><%= I18n.t("change_password.password_strength_level") %> <strong>" + strength[result.score] + "</strong></p>" +
                         "<p><span class='warning'>" + result.feedback.warning + "</span><span class='suggestions'>" + result.feedback.suggestions.join(" ") + "</span></p>";
    }
    else {
        meter.value = 0;
        text.innerHTML = "<p><%= I18n.t("change_password.new_password_notice") %></p>";
    }
});